@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/tradeSumoUtils.js"></script>

<div class="dropzone"></div>
<table id="resultsTable"></table>

<style>
    .result img {
        width: 100%;
        height: auto;
        max-width: 480px;
        padding: 0 20px;
    }

    .result span {
        display:block;
        text-align:center;
    }
</style>

<script>

    function displayResults(original, optimized, qualityFactor) {
        var resultTable = document.getElementById("resultsTable");
        var row = document.createElement("tr");
        row.appendChild(getImage(original, "Original"));
        row.appendChild(getImage(optimized, "Optimized", qualityFactor));

        resultsTable.insertBefore(row, resultsTable.firstChild);
    }

    function getImage(imageFile, caption, qualityFactor) {
        var result = document.createElement("td");
        result.className = "result";
        var img = document.createElement("img");
        img.src = window.URL.createObjectURL(imageFile);
        var captionSpan = document.createElement("span");
        captionSpan.textContent = caption + ": Size = " + imageFile.size;
        if (qualityFactor) {
            captionSpan.textContent += ": QualityFactor = " + qualityFactor;
        }
        result.appendChild(img);
        result.appendChild(captionSpan);
        return result;
    }    

    Dropzone.autoDiscover = false;
    $('.dropzone').dropzone({
        url: "/home/upload",
        autoProcessQueue: false,
        addRemoveLinks: true,
        init: function () {
            
            this.on("addedfile", function (file) {

                // change these settings to alter the quality;
                var settings = {
                    maxWidth: 800,
                    maxHeight: 600,
                    qualityFactor: .7
                };
                var dz = this;
                tradeSumoUtils.resizeImage(file, settings, function (optimizedFile) {
                    
                    // display the results:
                    displayResults(file, optimizedFile, settings.qualityFactor);

                    // we want to swap out the full size file with our optimized file and then process the upload
                    $.extend(true, optimizedFile, file, { optimized: true });
                    this.dropzone.removeFile(file);
                    this.dropzone.addFile(optimizedFile);

                    this.dropzone.processQueue();
                    
                });
            });
        }
    })
</script>
